extends layout-bf-login

block content
  .wrapper.fadeInDown.pt-100
    .col-md-5.m-auto
      #formContent.card.card-body.text-center
        img.img-fluid.main-logo(src='../images/nodejsLogo.png')
        h4.text-center.mt-2 PROPERTIES MANAGE SERVER
        a.btn.btn-primary.btn-block.mb-2(href='#') Register
        a.btn.btn-secondary.btn-block(href='/login') Login
